<!DOCTYPE html>
<html>
<head>
    <style>
	    .list_data { margin-bottom: 2px }
	    table, th, td { border: 1px solid black }
	    th { cursor: pointer }
    </style>
</head>

<body ng-app="myApp" ng-controller="RecordCtrl" ng-init="All();">
    <button style = "float:right" ng-click="Logout()">Logout</button>
    <div class="list_data">
        <h1>All Tasks</h1>
        <table>
            <tr>
                <th ng-click="type = 'name'; reverse = !reverse">Task Name &#9650;&#9660;</th>
                <th>Description</th> 
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
            <tr ng-repeat="record in records | orderBy:type:reverse">
                <td>{{record.name}}</td>
                <td>{{record.description}}</td>
                 <td><button ng-click="Edit(record)">Edit</button></td>
                <td><button ng-click="Delete(record._id)">Delete</button></td>
            </tr>
        </table>
    </div>
  
    <div class="add_data">
        <h1>Add Task</h1>
        <form ng-submit="Add(data)">

           <input type="hidden" name="id" ng-model="data._id">
            <div class="field">
                <label for="name">Task Name: </label>
                <input id="name" type="text" placeholder="Task Name" ng-model="data.name">
            </div>
            <div class="field">
                <label for="description">Description: </label>
                <input id="description" type="text" placeholder="Description" ng-model="data.description">
            </div>
            <div class="action">
                <button type="submit">{{value}}</button>
                <button ng-click="Reset()">Reset</button>
            </div>
        </form>
    </div>

	<script>

    var app = angular.module('myApp', []);
    app.controller('RecordCtrl', function($scope ,$http) {


    $scope.value = "Add"
    $scope.Add = function (data) {
    if($scope.value=='Add'){
    console.log("ddddddd" , data);
     $http.post("/add",data)
      .then(function(response) {
        $scope.myWelcome = response.data.msg;
     
        $scope.Reset();
        $scope.All();
        alert($scope.myWelcome)
       });

  }


  else if($scope.value=='Update'){
      $http.post("/edit",data)
      .then(function(response) {
        $scope.myWelcome = response.data.msg;
        

        $scope.Reset();
        $scope.All();
        alert($scope.myWelcome)

       });


  }

  }

    $scope.All = function () {
     $http.get("/all")
      .then(function(response) {
        $scope.records = response.data;
        $scope.Reset();
       });

  }


     $scope.Edit = function (x) {
     console.log("i came here" ,x);
     $scope.data={
        name:x.name,
        description:x.description,
        id:x._id
     }
     $scope.value = "Update"

  }

   $scope.Delete = function (x) {

    if (confirm("You Sure you want to delete!")) {
    let data = {id:x}
     $http.post("/delete",data)
      .then(function(response) {
        $scope.myWelcome = response.data.msg;
        

        $scope.Reset();
        $scope.All();
        alert($scope.myWelcome)
       });
        
    } else {
       return;
    }


 

  }

 $scope.Reset = function () {
            $scope.data = '';
            $scope.value = 'Add';
        }

$scope.Logout = function(){
      $http.get("/logout")
      .then(function(response) {
      })
   }

    
	})
	</script>
</body>
</html>