<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<a style="float:right" href='/register1'>REGISTER HERE</a>
<form action="/login1" method="post">
	  Email<input type="email" name="email">
      Password<input type="password" name="password">
      <input type="submit" value="LOGIN">
  
</form>

</body>
</html>