<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form action="/register1" method="post">
	  name<input type="text" name="username"><br>
      email<input type="text" name="email"><br>
      password<input type="password" name="password"><br>
      <input type="submit" value="REGISTER">
  
</form>

</body>
</html>